# Phiên bản SeaweedFS
SEAWEEDFS_VERSION=latest

# Cổng giao tiếp ra bên ngoài (Host Ports)
MASTER_PORT=9333
VOLUME_PORT=8081
FILER_PORT=8888
S3_PORT=8333

# Xác thực S3 (Authentication Credentials)
S3_ACCESS_KEY=my_access_key
S3_SECRET_KEY=my_secret_key