# Phiên bản image Redis
REDIS_VERSION=latest

# Tên container hiển thị trên Docker
REDIS_CONTAINER_NAME=redis-server

# Mật khẩu kết nối Redis (Thay thế cho giá trị "redis" cũ)
REDIS_PASSWORD=redis

# Cổng kết nối Redis ra ngoài máy host MX Linux
REDIS_PORT=6379
