# Cổng kết nối ra máy host
ORACLE_PORT=1521

# Mật khẩu cho các tài khoản quản trị (SYS, SYSTEM, PDBADMIN)
ORACLE_PASSWORD=oracle

# Bảng mã ký tự của database (Khuyến nghị AL32UTF8 để hỗ trợ Unicode)
ORACLE_CHARACTERSET=AL32UTF8

# Bật/tắt chế độ Archive Log (true/false) - Cần thiết nếu dùng để backup RMAN hoặc Data Guard
ENABLE_ARCHIVELOG=false

# Bật/tắt chế độ Force Logging (true/false)
ENABLE_FORCE_LOGGING=false
