SOFTWARE_VERSION_TAG=latest
MOODLE_DB_HOST=host.docker.internal
MOODLE_DB_PORT=3306
MOODLE_DB_USER=root
MOODLE_DB_PASSWORD=RootPassword123!
MOODLE_DB_NAME=moodle_db
MOODLE_USERNAME=admin
MOODLE_PASSWORD=MatKhauAdmin123!
MOODLE_EMAIL=admin@localhost.local
MOODLE_SITE_NAME=HeThongTracNghiem

MOODLE_HOST=http://localhost:8086
